.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url('./images/buildings.jpg');
  background-position: 100%;
  background-size: cover; */
}
.background
{
  width: 100%;
}
#signInDiv
{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 120px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray, 0 0 45px gray, 0 0 5px gray;;
  background: rgb(1, 114, 129);
}
#usersDiv
{
  position: absolute;
  width: 90%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#tickersDiv
{
  position: absolute;
  width: 90%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.userDiv
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(1, 114, 129);
  /* box-shadow: 1px 1px 2px gray, 0 0 45px gray, 0 0 5px gray;; */
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
/* #scrollMenu
{
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
} */
.startUserDiv
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#showMoreButton
{
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  border: 3px solid white;
  border-radius: 50px;
}
.userInformations
{
  margin-right: 30px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
}
.tickersDiv
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tickersList
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 114, 129);
  /* box-shadow: 1px 1px 2px gray, 0 0 45px gray, 0 0 5px gray;; */
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
#adminPanel
{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 120px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray, 0 0 45px gray, 0 0 5px gray;;
  background: rgb(1, 114, 129);
}
#adminPanelMenu
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.adminPanelMenuButton
{
  margin-right: 50px;
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  /* border: 5px solid white; */
  border: none;

  padding: 1%;
}
.adminPanelMenuh3:hover
{
  text-decoration: underline;
}


.signInTitle
{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
}
.change
{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
}
.Inputs
{
  margin-bottom: 10px;
  width: 280px;
  /* height: 40px; */
  border-radius: 50px;
  border: burlywood 3px solid;
  padding: 20px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
}
.signInButton
{
  margin-top: 10px;
  width: 150px;
  padding: 20px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50px;
  font-weight: 900;
  color: rgb(1, 114, 129);
  border: burlywood 3px solid;
}
.forget
{
  color:black;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10%;
}
.header
{
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 8%;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  padding: 0;
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(1, 114, 129);
}
/* .menu
{
  text-decoration: none;
  color: rgb(1, 114, 129);
  font-family: 'Courier New', Courier, monospace;
} */
.signOutButton
{
  color: rgb(1, 114, 129);
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  background-color: transparent;
  border: none;
  font-weight: 900;
}